<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>KratosOS</vendor>

  <action id="org.kratos.manage">
    <description>Change KratosOS network or Stealth Mode</description>
    <message>Authentication is required to change KratosOS security settings</message>
    <icon_name>security-high</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/kratos</annotate>
  </action>

  <!-- INTENTIONAL TRADEOFF: panic is passwordless for the active session so it
       works instantly in an emergency. The cost is that any code already
       running as the active desktop user can trigger it (kill the persona, cut
       the network, power off) as a denial-of-service. This is a deliberate
       availability-over-DoS-resistance choice; see docs/THREAT_MODEL.md. -->
  <action id="org.kratos.panic">
    <description>KratosOS panic shutdown</description>
    <message>Panic shutdown</message>
    <icon_name>system-shutdown</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/kratos-panic</annotate>
  </action>
</policyconfig>
